.container{
    width: 100%;
    /* border: solid 1px red; */
    height: 200px;
    /* margin: 20px; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    /* margin-top: 25px; */
    padding-left: 25px;
    padding-right: 25px;
}

.main-header-notes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: solid 1px green; */
    margin: 0;
    justify-content: left;
    flex-wrap: wrap;
}

.categories-bar{
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: solid 1px; */
    height: 50px;
    margin: 0;
    margin-top: 20px;;
}

.categories-bar ul {
    list-style-type: none;
}

.categories-bar ul li {
    margin-right: 25px ;
    display: inline-block;
    /* color: red; */
    /* border: solid 1px red; */
    padding: 5px 15px 5px 15px;
    border-radius: 2px;
    font-size: 14px;
    transition: 0.6s;
    font-weight: bold;
    color: gray;
}
.categories-bar ul li:hover {
   color: #fff;
   cursor: pointer;

}

.categories-bar .selected {
    background: #8881D8;
    color: white;
}

.qa-new-note{
    display: flex;
    width: 25%;
    height: 50px;;
    /* border: solid 1px; */
    align-items: center;
    font-size: 16px;
    color:#8881D8;
    text-align: right;
    margin-top: 20px;;
}
.qa-new-note:hover{
    color:#6A61BF;
    cursor: pointer;
}

.notes-content{
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    /* flex: initial; */
    /* border: solid 1px red; */
    flex-wrap: wrap;
}

article {
    width: 250px; 
    height: 250px;
    /* border: solid 1px; */
    background: #fff;
    margin-top: 20px;
    margin-right: 20px;
    box-shadow: 0 1px 10px rgba(169, 169, 169, 0.3);
    border-radius: 5px;
    position: relative;
}

article:hover {
    box-shadow: 0 1px 15px rgba(79, 79, 79, 0.3);
}

.article-header {
    display: flex;
    justify-content: space-between;
}

article .date {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 15px;
    /* margin-right: 15px; */
    /* border:solid 1px blue; */
    /* border: solid 1px red; */
}

.article-delete{
    font-size: 12px;
    /* border: solid 1px red; */
    margin-top: 10px;
    margin-right: 15px;
    display: none;
    cursor: pointer;
}

.delete-available {
    display: none;
}

article .title{
    font-size: 16px;
    font-weight: bold;
    /* width: 100%; */
    margin-left: 15px;
    margin-right: 15px;
    margin-top:10px;
    /* white-space: pre; */
    /* border: solid 1px red; */
}

article p {
    margin: 10px 15px 10px 15px;
    /* border: solid 1px red; */
    font-size: 13px;
    line-height: 18px;
    color: #919191;
    max-height: 55%;
    /* border: solid 1px blue; */
    word-wrap: break-word;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    /* overflow-y: hidden; */
}

article .footer{
    /* border: solid 1px red; */
    bottom: 0;
    height: 20px;
    position: absolute;
    font-size: 11px;
    margin: 10px 15px 0 15px;
    display: flex;
    align-items: center;
    font-style: italic;
    
}

.modal-class {
    background:#f4f4f4;
    width: 600px;
    height: 400px;
    padding: 20px;
    border-radius: 5px;
}

.modal-class input, textarea {
    background: white;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    border:solid 1px rgb(242, 242, 242);
    padding: 10px;
}

.modal-class textarea {
    height: 130px;

}

.footer-form-new-note{
    display: flex;
    justify-content: left;
}

#submit{
    /* width: 250px; */
    background: #8881D8;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

#submit:hover{
    background: #6A61BF ;
}

#cancel{
    /* width: 250px; */
    cursor: pointer;
    background: red;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(203, 203, 203);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

#cancel:hover{
    background: rgb(172, 172, 172);
}

.separator{
    margin-top: 8px;
    background: rgb(218, 218, 218);
    width: 100%;
    height: 1px;
}

/* <div style="width: 10em; height: 1.2em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"> */
